<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Добро пожаловать в DYNAMIX!</h1>
    <p>
      Для завершения регистрации и входа в систему, пожалуйста, используйте следующий код подтверждения:
    </p>
    <h2 style="font-size: 24px; letter-spacing: 5px; color: #dc2626;"><%= @otp %></h2>
    <p>
      Код действителен в течение 5 минут.
    </p>
    <p>Спасибо, что выбрали нас!</p>
  </body>
</html>
